{% extends "core/page_layout.html" %}
{% load restructuredtext_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/show.css">
    <script src="{{ STATIC_URL }}core/js/show.js"></script>
{% endblock %}

{% block extra_script %}
{% include "core/show_keybindings.html" %}
{% endblock %}

{% block header %}
{% include "core/show_page_header" %}
{% endblock %}

{% block main_content %}
{% include "core/show_page_content.html %}
{% endblock %}

{% block side_content %}
{% include "core/show_page_navigation.html" %
{% include "core/show_page_controls.html" %}
{% include "core/show_mathjax.html" %}
{% endblock %}
