{% extends "core/page_layout.html" %}
{% load restructuredtext_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/show.css">
{% endblock %}

{% block extra_script %}
{% include "core/show_keybindings.html" %}
{% endblock %}

{% block body %}
{% if page.classroom and page.classroom.home_page != page %}
<h2 id="title">{{ page.title|rst2html_inline }}</h2>
{% if page.subtitle %}<p id="subtitle">{{ page.subtitle|rst2html_inline }}</p>{% endif %}    
{% endif %}
<div{% if user.is_staff %} ondblclick="location.href='{% url 'edit_page' page %}';"{% endif %}>
    {% if page.author or page.date %}
    <ul id="docinfo">
        {% if page.author %}<li>Page Author: {{ page.author|rst2html_inline }}</li>{% endif %}
        {% if page.date %}<li>Date: {{ page.date|date:"D d M Y" }}</li>{% endif %}
    </ul>
    {% endif %}
    
    {% if page.content %} 
    <div id="content">
    {{ page.content|rst2html:3 }}
    </div>
    {% endif %}
</div>
{% include "core/show_mathjax.html" %}
{% endblock %}
