{% extends "core/layout.html" %}
{% load restructuredtext_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}core/css/show.css">
{% endblock %}

{% block extra_script %}
$(document).keydown(function(e) {
    var keycode = e.which || e.keyCode;
    var key = String.fromCharCode(keycode).toLowerCase()

    {% if user.is_authenticated %}
    if (key == 'e' && e.ctrlKey)
    {
        location.href='{% url 'edit_page' page %}';
        e.preventDefault();
    }
    {% endif %}
    if (key == 'p' && e.ctrlKey)
    {
        /* window.print() */
        location.href='{% url 'ppdf_page' page %}';
        e.preventDefault();
    }
    if (key == 'l' && e.ctrlKey)
    {
        {% if user.is_authenticated %}
        location.href='{% url 'core_logout' %}?next={% url 'show_page' page %}';
        {% else %}
        location.href='{% url 'core_login' %}?next={% url 'show_page' page %}';
        {% endif %}
        e.preventDefault();
    }
    if (key == 'q' && e.ctrlKey)
    {
        /* $("header").toggle(); */
        location.href='{% url 'show_full' page %}';
        e.preventDefault();
    }

    // 37 left 38 up 39 right 40 down 
    // 188 comma 190 period 191 forward slash

    {% if page.parent.parent %}    
    if (e.ctrlKey && keycode == '38')
    {
        location.href='{% url 'show_page' page.parent %}';
        e.preventDefault();
    }
    {% endif %}

    {% if page.prev %}
    if (keycode == '37')
    {
        location.href='{% url 'show_page' page.prev %}';
        e.preventDefault();
    }
    {% endif %}

    {% if page.next %}
    if (keycode == '39')
    {
        location.href='{% url 'show_page' page.next %}';
        e.preventDefault();
    }
    {% endif %}

    {% if page.down_list %}
    if (e.ctrlKey && keycode == '40')
    {
        location.href='{% url 'show_page' page.down_list.0 %}';
        e.preventDefault();
    }
    {% endif %}

    {% if user.is_staff %}    
    if (keycode == '191')
    {
        location.href='{% url 'root_page' %}';
        e.preventDefault();
    }
    {% endif %}
    
});
{% endblock %}

{% block header %}
{% if page.classroom %}
<a class="hoverlink" href="{% url 'show_page' page.classroom.home_page %}">
<div>
<h1 id="title">{{ page.classroom.title|rst2html_inline }}</h1>
{% if page.classroom.banner %}<img src="{{ page.classroom.banner.url }}">{% endif %}
<p id="subtitle">{{ page.classroom.subtitle|rst2html_inline }}</p>
{% if page.children or page.series or page.siblings or page.parent %}
{% if page.content %}
<p class="full-hide"><a class="block-link noprint" href="#related-pages">Skip down to page navigation</a></p>
{% endif %}
{% endif %}
</div>
</a>
{% else %}
{% if page.title %}
<h1 id="title">{{ page.title|rst2html_inline }}</h1>
{% else %}
<h1 id="title">{{ page.url|rst2html_inline }}</h1>
{% endif %}
{% if page.subtitle %}<p id="subtitle">{{ page.subtitle|rst2html_inline }}</p>{% endif %}    
{% endif %}
{% endblock %}

{% block main_content %}
{% if page.classroom and page.classroom.home_page != page %}
<h2 id="title">{{ page.title|rst2html_inline }}</h2>
{% if page.subtitle %}<p id="subtitle">{{ page.subtitle|rst2html_inline }}</p>{% endif %}    
{% endif %}
<div{% if user.is_staff %} ondblclick="location.href='{% url 'edit_page' page %}';"{% endif %}>
    {% if page.author or page.date %}
    <ul id="docinfo">
        {% if page.author %}<li>Page Author: {{ page.author|rst2html_inline }}</li>{% endif %}
        {% if page.date %}<li>Date: {{ page.date|date:"D d M Y" }}</li>{% endif %}
    </ul>
    {% endif %}
    
    {% if page.content %} 
    <div id="content">
    {{ page.content|rst2html:3 }}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block side_content %}
<a name="related-pages"></a>

{% if page.down_list or page.side_list or page.parent.parent %}
<div class="related-pages noprint">
    {% if page.down_list %}
    <p>Down to&hellip;</p>
    <ul>
        {% for page in page.down_list %}
        {% if page.restriction_level < 2 %}
        <li><a href="{% url 'show_page' page %}">{{ page.title|rst2html_inline }}</a></li>
        {% else %}
        <li>[ <a href="{% url 'show_page' page %}">{{ page.title|rst2html_inline }}</a> ]</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if page.side_list %}
    <p>Related pages</p>
    <ul>
        {% for page in page.side_list %}
        {% if page.restriction_level < 2 %}
        <li><a href="{% url 'show_page' page %}">{{ page.title|rst2html_inline }}</a></li>
        {% else %}
        <li>[ <a href="{% url 'show_page' page %}">{{ page.title|rst2html_inline }}</a> ]</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% if page.parent.parent %}
    <p>Back up to...</p>
    <ul>
        {% with page.parent as page %}
        {% if page.restriction_level < 2 %}
        <li><a href="{% url 'show_page' page %}">{{ page.title|rst2html_inline }}</a></li>
        {% else %}
        <li>[ <a href="{% url 'show_page' page %}">{{ page.title|rst2html_inline }}</a> ]</li>
        {% endif %}
        {% endwith %}
    </ul>
    {% endif %}

</div>
{% endif %}

<div id="page-controls" class="noprint">
    <h2>Page Controls</h2>
    <ul id="control-list">
        {% if user.is_authenticated %}
        <li><button name="submit" onclick="location.href='{% url 'core_logout' %}?next={% url 'show_page' page %}'">Logout</button></li>
        {% else %}
        <li><button name="submit" onclick="location.href='{% url 'core_login' %}?next={% url 'show_page' page %}'">Login</button></li>
        {% endif %}
        <li><button onclick="location.href='{% url 'core_index' %}'">Index</button></li>
        <li><button onclick="location.href='{% url 'ppdf_page' page %}'">PDF</button></li>
        {% if user.is_staff %}
        <li><button onclick="location.href='{% url 'edit_page' page %}'">Edit</button></li>
        {% endif %}
    </ul>
</div>

{% include "core/mathjax.html" %}
{% endblock %}
