{% load restructuredtext_tags %}

<div{% if user.is_staff %} ondblclick="location.href='{% url 'edit_page' page %}';"{% endif %}>

    <div id="content">

    {% if page.classroom and page.classroom.home_page != page %}
    <h2 id="title">{{ page.title|rst2html_inline }}</h2>
    {% if page.subtitle %}<p id="subtitle">{{ page.subtitle|rst2html_inline }}</p>{% endif %}    
    {% endif %}
    
    {% if page.classroom.home_page != page %}
    {% if page.author or page.date %}
    <ul id="docinfo">
        {% if page.author %}<li>Page Author: {{ page.author|rst2html_inline }}</li>{% endif %}
        {% if page.date %}<li>Date: {{ page.date|date:"D d M Y" }}</li>{% endif %}
    </ul>
    {% endif %}
    {% endif %}
    
    {{ page.content|rst2html:3 }}

    </div>

</div>